# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# VSCode
.vscode/

# Home Assistant
home-assistant.log
home-assistant_v2.db

# OS
.DS_Store
Thumbs.db

# Test/coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Misc
*.log
*.bak
*.swp
*.tmp

# Node/Lovelace card
node_modules/
www/*.js.map
www/*.tsbuildinfo
